[Unit]
Description=noid network daemon
Before=noid-server.service

[Service]
ExecStart=/usr/local/bin/noid-netd
User=root
ProtectSystem=strict
PrivateTmp=yes
NoNewPrivileges=yes
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
ReadWritePaths=/run/noid
RuntimeDirectory=noid

[Install]
WantedBy=multi-user.target
